


@*<form asp-controller="Home" asp-action="ResetPassword" method="post" style="display: inline-grid;">
    <h4> Reset Password </h4>

    <input type="password" name="newPass" placeholder="new password"/>
    <input type="password" name="ConfPass" placeholder="repeat password"/>
    <input type="hidden" name="persId" value="@ViewData["personId"]" />

    <input type="submit" value="Save"/> 

    <h5 class="text-danger"> @TempData["dontMatch"] </h5>
    <h5 class="text-danger"> @TempData["ChangeError"] </h5>
    <h5 class="text-danger"> @TempData["SamePass"] </h5>
</form>*@











<form id="register-form" class="form" asp-controller="Home" asp-action="ResetPassword" method="post">

    <h4 class="text-left"> Reset password </h4>

    <div class="form-group">
        <div class="input-group">
            <input id="email" name="newPass" placeholder="new password" class="form-control" type="password">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <input id="email" name="confPass" placeholder="repeat password" class="form-control mt-2" type="password">
        </div>
    </div>

    <input class="btn btn-sm btn-primary btn-block mt-2" type="submit" value="Change Password">
    <input type="hidden" @*name="PersonEmail" value="@ViewBag.persid"*@ name="persId" value="@ViewData["personId"]" />                      @*რაღაც სტრინგი მოაქვს და იმას ანიჭებს აქ ?????????? *@

    @*<h4 class="text-danger"> @TempData["PassErr"] </h4>*@

    <h5 class="text-danger mt-2"> @TempData["nullError"] </h5>
    <h5 class="text-danger"> @TempData["dontMatch"] </h5>
    <h5 class="text-danger"> @TempData["ChangeError"] </h5>
    <h5 class="text-danger"> @TempData["SamePass"] </h5>

</form>




